#footer {
	padding: 0 1rem;
	margin: 8rem 0 0rem;
}

.footer-box {
	/* margin: 0 auto; */
	/* background-color: black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.footer-content {
	/* width: 80%; */
	margin-bottom: 2rem;
}

@media screen and (min-width: 48em) {
	.footer-content {
		width: 80%;
	}
}
